::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  --mdc-snackbar-container-color: #ab4493;
  @media screen and (min-width: 600px) {
    width: 588px;
  }
}

.notifier{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifier__message{
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 600px) {
    font-size: 1rem;
  }
}

.notifier__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    background-color: #ab4493;
    color: #fff;
    font-weight: bold;
  }
}