<div class="notifier">
  <p class="notifier__message">
    {{ data.message }}
  </p>
  <div class="notifier__btn">
    <button mat-flat-button (click)="snackBarRef.dismiss()">
      {{ data.buttonText }}
    </button>
  </div>
</div>
