<div class="passenger">
  <div class="passenger__data">
    <mat-icon>person</mat-icon>
    <span>
      {{ passenger.names | uppercase }}
      {{ passenger.surnames | uppercase }}
    </span>
  </div>
  <div class="passenger__data">
    <mat-icon>public</mat-icon>
    <span>
      {{ passenger.nationality | uppercase }}
    </span>
  </div>
  <div class="passenger__data">
    <mat-icon>badge</mat-icon>
    <span>
      {{ passenger.documentType | uppercase }}
    </span>
  </div>
  <div class="passenger__data">
    <mat-icon>tag</mat-icon>
    <span>
      {{ passenger.documentNumber | uppercase }}
    </span>
  </div>
  <div class="btn__container">
    <button (click)="onEditPassenger()">Actualizar</button>
    <button (click)="onDeletePassenger()">Eliminar</button>
  </div>
</div>

<app-update-form *ngIf="isEditing" [passenger]="passenger"></app-update-form>

