<div class="form">
  <h1 class="form__title">Actualizar Pasajero</h1>
  <form class="form__container" [formGroup]="updateForm" (ngSubmit)="onUpdatePassenger()">
    <div class="form__control">
      <label for="newNames">Nombres:</label>
      <input
        id="newNames"
        type="text"
        name="newNames"
        formControlName="newNames"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="newNamesControl" >
        <app-form-error-msg forErrorCode="required" ></app-form-error-msg> 
        <app-form-error-msg forErrorCode="namesMustbeValid" ></app-form-error-msg>
      </app-form-error-container>
    </div>
    <div class="form__control">
      <label for="newSurnames">Apellidos:</label>
      <input
        id="newSurnames"
        type="text"
        name="newSurnames"
        formControlName="newSurnames"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="newSurnames" >
        <app-form-error-msg forErrorCode="required" ></app-form-error-msg> 
        <app-form-error-msg forErrorCode="surnamesMustbeValid" ></app-form-error-msg>
      </app-form-error-container>
    </div>
    <div class="form__control">
      <label for="newNationality">Nacionalidad:</label>
      <input
        id="newNationality"
        type="text"
        name="newNationality"
        formControlName="newNationality"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="newNationality" >
        <app-form-error-msg forErrorCode="required" ></app-form-error-msg> 
        <app-form-error-msg forErrorCode="nationalityMustbeValid" ></app-form-error-msg>
      </app-form-error-container>
    </div>
    <div class="form__control">
      <label for="newDocumentType">Tipo de documento:</label>
      <select
        id="newDocumentType"
        name="newDocumentType"
        formControlName="newDocumentType"
        autocomplete="off"
      >
        <option *ngFor="let type of documentType" [value]="type">
          {{ type }}
        </option>
      </select>
      <app-form-error-container [forControl]="newDocumentTypeControl" >
        <app-form-error-msg forErrorCode="required" ></app-form-error-msg> 
      </app-form-error-container>
    </div>
    <div class="form__control">
      <label for="newDocumentNumber">Número de documento:</label>
      <input
        id="newDocumentNumber"
        type="text"
        name="newDocumentNumber"
        formControlName="newDocumentNumber"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="newDocumentNumberControl" >
        <app-form-error-msg forErrorCode="required" ></app-form-error-msg> 
        <app-form-error-msg forErrorCode="dniMustBeValid" ></app-form-error-msg>
        <app-form-error-msg forErrorCode="ceMustBeValid" ></app-form-error-msg>
        <app-form-error-msg forErrorCode="passportMustBevalid" ></app-form-error-msg>
      </app-form-error-container>
    </div>
    <div class="btn__container">
      <button [disabled]="updateForm.invalid" type="submit">Guardar</button>
      <button type="button" (click)="onClose()">Cancelar</button>
    </div>
  </form>
</div>
