<h1 class="title" mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  {{ data.message }}
</div>
<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onCancel()" mat-dialog-close cdkFocusInitial>No</button>
  <button class="btn__confirm" mat-button (click)="onConfirm()" mat-dialog-close>
    Confirmar
  </button>
</div>
